.blogItemContainer {
	padding: 20px;
}
.blogItemContainer p {
	margin: 10px 0px;
	line-height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.blogItemContainer h3 {
	margin: 10px 0px;
}
