.adminSidebarContent__container {
	background-color: #f2f5f6;
	height: 100vh;
	font-size: 12px;
}
.sideBarItems__linkItemContainer i {
	font-size: 13px;
	font-weight: 600;
	width: 30px;
	padding: 0px 5px;
}
.adminSidebar__userContainer {
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
}
