.products__table__container {
	border-collapse: separate !important;
	border-spacing: 0.8em 0.8em;
	border-radius: 10px;
	width: 100%;
	display: block;
	overflow-x: auto;
	font-size: 12px;
	/* white-space: nowrap; */
}
.products__table__container tbody tr td img {
	height: 50px;
	width: 50px;
}
.catalog__SectionFilter__component form {
	border: 0.5px solid #ccc;
	border-radius: 5px;
}
.catalog__SectionFilter__component form i {
	font-size: 12px;
	margin-right: 5px;
}
.addNewProductForm {
	padding: 15px;
	background-color: white;
	border-radius: 5px;
	left: 50%;
	transform: translate(-50%, 0);
}
.addNewProductForm {
	height: 92vh;
	overflow-y: scroll;
	width: 35vw;
}
.addNewProductForm div label,
.addNewProductForm div input,
.addNewPRoductForm__inputContainer select {
	display: block;
	margin: 15px 0px;
}
.addNewProductForm div input,
.addNewPRoductForm__inputContainer select {
	padding: 10px;
	border: 0.5px solid #ccc;
	width: 100%;
}
.addNewProductForm div input[type="file"] {
	display: none;
}
.addNewProductForm button {
	margin: 10px 0px;
	width: 100%;
}
