.categories__heroContent h1 {
	width: 90%;
	margin: 10px 0px;
}
.categories__heroContent article p {
	width: 90%;
	margin: 10px 0px;
}
.categories__heroContent button {
	padding: 10px;
	color: white;
	background-color: rgb(238, 186, 89);
	border-radius: 5px;
}
.categoriesContainer__categoryITems__content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
}
.categoriesContainer__categoryITems__container {
	background-color: #eef4fa;
	padding: 10px;
}
