/* .headerContainer {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	background-color: black;
} */

.headerLogo img {
	width: 80px;
}

.headerUser,
.headerLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.headerUser img {
	width: 20px;
	height: 20px;
	/* border-radius: 50%; */
}
.headerUser i,
.headerLinks ul li {
	position: relative;
	margin: 0px 10px;
	color: white;
}
.headerLinks ul li,
.headerLinks ul li a {
	display: inline-flex;
	color: white;
	font-size: 22px;
}
.headerUser i,
.headerUser_link {
	position: relative;
}
.headerUser_link i span {
	position: absolute;
	color: white;
	background: red;
	border-radius: 50%;
	font-size: 5px;
	padding: 5px;
	top: -5px;
	right: 0;
}
.headerUser button {
	background-color: #4285f4;
	color: white;
	padding: 8px 15px;
	border-radius: 5%;
}
.showCartItem {
	display: inline-flex;
}
.hideCartItem {
	display: none;
}
@media screen and (min-width: 750px) {
	.__desktop {
		display: flex;
	}
	.headerLinks__mobile {
		display: none;
	}
}
@media screen and (max-width: 749px) {
	.__desktop {
		display: none;
	}
	.headerLinks__mobile {
		display: flex;
	}
	.mobile__headerLinks {
		position: absolute;
	}
}
