.heroImgContainer {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("../../images/home//pexels-pixabay-164634.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.heroContainer h1 {
	margin: 10px 0px;
}
.heroContainer button {
	color: white;
	background-color: #4285f4;
	border-radius: 5px;
	padding: 10px;
}
.heroContainer form {
	margin: 20px 0px;
}
.heroContainer select {
	color: black;
	background-color: white;
	padding: 10px 25px;
	margin-right: 20px;
}
.heroImg__content h1 {
	font-size: 45px;
}
.heroImg__content button {
	padding: 10px 25px;
	font-size: 22px;
}

@media screen and (max-width: 730px) {
	.heroContainer form {
		display: flex;
		flex-direction: column;
		padding: 15px;
		justify-content: center;
		align-items: center;
	}
	.heroContainer form button,
	.heroContainer form select {
		margin: 10px 0px;
		width: 80%;
	}
}
.grid__Section__hero {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 40px 20px;
	background-color: #ccc;
}
.hero__img__container__products {
	background-color: white;
	color: black;
	padding: 10px;
}
